@model Idear.Areas.Staff.ViewModels.IdeasVM

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4>Idea</h4>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">@Model.Idea.Text</div>
            </div>
            <br />
            <div class="row g-2 align-items-center">
                <div class="col-md-4">
                    <div class="text-center">
                        by @if (Model.Idea.IsAnonymous)
                            {
                                <text>Anonymous User</text>
                            }
                            else
                                @Model.Idea.User!.FullName
                        at @Model.Idea.DateTime
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center"> Category: @Model.Idea.Category!.Name</div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <span><i class="bi bi-eye"></i> @Model.Idea.Views!.Sum(v=> v.VisitTime) views</span>
                        <button class="btn btn-primary"><i class="bi bi-hand-thumbs-up"></i> @Model.Idea.Reacts.Where(i => i.ReactFlag == 1).Count() Likes</button>
                        <button class="btn btn-dark"><i class="bi bi-hand-thumbs-down"></i> @Model.Idea.Reacts.Where(i => i.ReactFlag == -1).Count() DisLikes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Comments</h4>
                </div>
                <div class="card-body">
                    @foreach (var comment in Model.Idea.Comments!){
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    @if (comment.IsAnonymous)
                                        {
                                        <b><text>Anonymous User</text></b>
                                    }
                                    else
                                        {
                                        <b>@comment.User!.FullName</b>
                                        }

                                </p>
                                <p>@comment.Text at @comment.Datetime</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Ideas with similar category</h4>
                </div>
                <div class="card-body">
                    @foreach (var idea in Model.RelatedIdeas)
                    {
                        <div class="card">
                            <div class="card-body">
                                @idea.Text by
                                @if (idea.IsAnonymous)
                                    {
                                        <text>Anonymous User</text>
                                    }
                                else
                                    @idea.User!.FullName
                                    at
                                    @idea.DateTime
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>