@using Microsoft.AspNetCore.Identity;
@model Idear.Areas.Staff.ViewModels.IdeasVM
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "Details";
}

<div class="container-fluid">
	<div class="card mx-3 mt-n5 shadow-lg home-section">
		<div class="card-header bg-info bg-opacity-50 header-section">
			<div class="row g-2 align-items-center">
				<div class="col-md-4">
					<h4><i class="bi bi-lightbulb"></i> Idea</h4>
				</div>
				<div class="col-md-8">
					<div class="text-right">
						<i>from topic:</i>
						<a asp-area="Staff" asp-controller="Topics" asp-action="Details" asp-route-id="@Model.Idea.Topic!.Id">
						<i> @Model.Idea.Topic!.Name</i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row g-2 align-items-center">
				<div class="col-md-8">
					<div class="card">
						<div class="card-body">@Model.Idea.Text</div>
						<div class="hidden" id="idea-id">@Model.Idea.Id</div>
						<div class="hidden" id="topic-final-date">@Model.Idea.Topic!.FinalClosureDate</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						@if (!string.IsNullOrEmpty(Model.Idea.FilePath))
						{
							<a class="card-body" asp-controller="Ideas" asp-action="DownloadFile" asp-route-id="@Model.Idea.Id">
								@{
									var extension = System.IO.Path.GetExtension(Model.Idea.FilePath);
									var icon = extension switch
									{
										".pdf" => "bi bi-file-earmark-pdf",
										".doc" or ".docx" => "bi bi-file-earmark-word",
										".xls" or ".xlsx" => "bi bi-file-earmark-excel",
										".png" or ".jpg" or ".gif" => "bi bi-file-earmark-image",
										".ppt" or ".pptx" => "bi bi-file-earmark-ppt",
										_ => "bi bi-file-earmark"
									};
								}
								<i class="@icon"></i>
								<span>&nbsp;Download Supported Files</span>
							</a>
						}
						else
						{
							<div class="card-body">
								<i class="bi bi-question-circle"></i>&nbsp;No Supported File
							</div>
						}
					</div>
				</div>
			</div>
			<br>
			<div class="row g-2 align-items-center">
				<div class="col-md-4">
					<div class="text-center">
						by @if (Model.Idea.IsAnonymous)
						{
							<text>Anonymous User</text>
						}
						else
							@Model.Idea.User!.FullName

							at @Model.Idea.DateTime
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-center"> Category: @Model.Idea.Category!.Name</div>
					</div>

					<!-- View, Like, Dislike Section -->
					<div class="col-md-4">
						<div class="text-center">
							<span><i class="bi bi-eye"></i> @Model.Idea.Views!.Sum(v=> v.VisitTime) view</span>
							<button id="btn-like" type="button" class="btn btn-primary ">
								<i class="bi bi-hand-thumbs-up@( Model.ReactFlag == 1 ? "-fill" : "" )"></i> <span>@Model.Idea.Reacts.Where(r => r.ReactFlag == 1).Count()</span> Like
							</button>
							<button id="btn-dislike" type="button" class="btn btn-dark">
								<i class="bi bi-hand-thumbs-down@( Model.ReactFlag == -1 ? "-fill" : "" )"></i> <span>@Model.Idea.Reacts.Where(r => r.ReactFlag == -1).Count()</span> Dislike
							</button>
							<a class="btn btn-danger" asp-controller="Reports" asp-action="Create" asp-route-type="Idea" asp-route-id="@Model.Idea.Id">
								<i class="bi bi-flag"></i> Report
							</a>
						</div>
					</div>
					<!--/ View, Like, Dislike Section -->

				</div>
			</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-8">
			<div class="card mx-3 mt-n5 shadow-lg home-section">
				<div class="card-header bg-purple header-section">
					<h4><i class="bi bi-pencil-square"></i> Comments</h4>
				</div>
				<div class="card-body">
					<div class="card" id="card-new-cmt">
						<div class="card-body">
							<p class="card-text text-bold"><span id="cmt-count">@Model.Idea.Comments!.Count</span> comments</p>

							<!-- Create new comment Section -->
							@if (Model.Idea.Topic!.FinalClosureDate >= DateTime.UtcNow)
							{
								<form>
									<div class="mb-3">
										<textarea id="input-cmt" class="form-control" rows="3" placeholder="Write a new comment here"></textarea>
									</div>
									<div class="mb-3 form-check">
										<div class="row">
											<div class="col-6">
												<input type="checkbox" class="form-check-input" id="chk-anonymous">
												<label class="form-check-label" for="chk-anonymous">Post this comment as anonymous</label>
											</div>
											<div class="col-6 text-right">
												<span><span id="char-count">0</span>/500</span>
												<button id="btn-new-cmt" type="button" class="btn btn-primary">Submit</button>
											</div>
										</div>
									</div>
								</form>
							}
							<!--/ Create new comment Section -->

						</div>
					</div>

					@foreach (var comment in Model.Idea.Comments!.OrderByDescending(c => c.Datetime))
					{
						<div class="card">
							<div class="card-body" id="cmt-@comment.Id">
								<div class="row align-items-center">
									<p class="col-6">
										@if (comment.IsAnonymous)
										{
											<b><text>Anonymous User</text></b>
										}
										else
										{
											<b>@comment.User!.FullName</b>
										}
									</p>
									<p class="col-6 text-right">
										@if (comment.User == await UserManager.GetUserAsync(User))
										{
											<button data-modal-action="Edit" data-modal-id="@comment.Id" type="button" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></button>
											<button data-modal-action="Delete" data-modal-id="@comment.Id" type="button" class="btn btn-outline-dark"><i class="bi bi-trash"></i></button>
										}
										else
										{
											<a class="btn btn-outline-danger" asp-controller="Reports" asp-action="Create" asp-route-type="Comment" asp-route-id="@comment.Id">
												<i class="bi bi-flag"></i>
											</a>
										}
									</p>
								</div>
								
								<p>@comment.Text</p>
								<p class="text-right">
									<small class="text-muted">
										at @comment.Datetime
									</small>
								</p>
							</div>
						</div>
					}
				</div>
			</div>
			<br />
		</div>
		<div class="col-md-4">
			<div class="card mx-3 mt-n5 shadow-lg home-section">
				<div class="card-header bg-success bg-opacity-50 header-section">
					<h4><i class="bi bi-tags"></i> Ideas with similar category</h4>
				</div>
				<div class="card-body">
					@foreach (var idea in Model.RelatedIdeas)
					{
						<div class="card">
							<a class="card-body" asp-area="Staff" asp-controller="Ideas" asp-action="Details" asp-route-id="@idea.Id">
								@idea.Text
								<small class="text-muted">
									by
									@if (idea.IsAnonymous)
									{
										<text>Anonymous User</text>
									}
									else
									{
										@idea.User!.FullName
									}
									at
									@idea.DateTime
								</small>
							</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		await Html.RenderPartialAsync("_TempDataModal");
		await Html.RenderPartialAsync("_CommentModal", Model.Comment);
    }
	<script src="~/js/react-create-cmt.js" asp-append-version="true"></script>
	<script src="~/js/edit-delete-cmt.js" asp-append-version="true"></script>
}
