@model IEnumerable<Idear.Models.Idea>

@{
    ViewData["Title"] = "Details";
}

<h1>All Ideas</h1>

<form method="get">
    <label for="select-order">Choose order</label>
    <select class="form-select inline-select" id="select-order" name="orderBy">
        <option value="latest">Latest</option>
        <option value="like">Most Liked</option>
        <option value="view">Most Viewed</option>
        <option value="comment">Most Commented</option>
    </select>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Ideas</th>
            <th>View</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Comments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Any())
        {
            foreach (var idea in Model)
            {
                <tr>
                    <td>@idea.Text</td>
                    <td>@idea.Views!.Sum(v => v.VisitTime)</td>
                    <td>@idea.Reacts.Where(i => i.ReactFlag == 1).Count()</td>
                    <td>@idea.Reacts.Where(i => i.ReactFlag == -1).Count()</td>
                    <td>@idea.Comments!.Count</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Ideas" asp-action="Details" asp-route-id="@idea.Id">Details</a>
                    </td>
                </tr>

            }
        }
        else
        {
            <h5 class="card-title">None of ideas</h5>
        }
    </tbody>
</table>
<td>
    <a asp-area="Staff" asp-controller="Topics" asp-action="Index" class="btn btn-outline-dark">Back To All Topics</a>
</td>

@section Scripts{
    <script>
        $(document).ready(function() {

            $('#select-order').change(function() {
                // Get the selected sorting option
                var selectedOption = $(this).val();
                
                // Redirect to the current page with the sorting option as a query parameter
                window.location.href = window.location.pathname + '?orderBy=' + selectedOption;
            });

            // get the select option from query string
            var selectedOption = new URLSearchParams(window.location.search).get('orderBy');
            if (selectedOption != "" && selectedOption != null) {
                $('#select-order').val(selectedOption);
            }

            // Set the selected option in the sort select element
        });
    </script>
}