@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
	ViewData["Title"] = "Application User";
}

<h1> View Users</h1>
<p>
	<a class="btn btn-dark" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-clipboard-plus"></i> Create New </a></>
</p>
<table class="table table-hover table-striped bg-white">
	<thead>
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Full Name</th>
			<th>Department</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Email</td>
				<td>@item.FullName</td>
				<td>@item.Department.Name</td>
				<td>
					<a class="btn btn-primary" asp-action="Edit" asp-controller="ApplicationUsers" asp-route-id="@item.Id"><i class="bi bi-pencil"></i> Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-controller="ApplicationUsers" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
					<a class="btn btn-outline-secondary" asp-action="UpdateRoles" asp-controller="ApplicationUsers" asp-route-id="@item.Id"><i class="bi bi-card-checklist"></i> Update Roles</a>
				</td>
			</tr>
		}
	</tbody>
</table>
